/* --- Section: General Skills --- */
.native-language-container {
    margin-top: 0.25rem;
}

.native-language-input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--s4-gray-300);
    border-radius: var(--s4-border-radius-sm);
    font-size: 0.875rem;
    font-weight: normal;
}